@font-face {
    font-family: Hyundai Sans Head Office;
    src: url('Hyundai Sans Head Office.ttf');
}
@font-face {
    font-family: Hyundai Sans Head Office-Bold;
    src: url('HyundaiSansHeadOffice-Bold.ttf');
}
@font-face {
    font-family: Hyundai Sans Head Office-Medium;
    src: url('HyundaiSansHeadOffice-Medium.ttf');
}
@font-face {
    font-family: Hyundai Sans Head Office-Regular;
    src: url('HyundaiSansHeadOffice-Regular.ttf');
}
.container{
    max-width: 965px;
}
.bg-image{
    background-image: url('yes-wincasa-workspace-buchs-hero-desktop-2866x1500-200406-scaled.jpg');
    background-size: cover;
    height: 1000px;
    /*margin-top: 95px;*/
    background-position-x: 40%;
    background-position-y: 0%;
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
}
/*.bg-container{
    max-width: 965px;
}*/
.nav-container{
    height: 101px;
}
#nav_btn:focus{
    color: white;
}
.navbar-nav{
    text-align: right;
}
.navbar-nav.ms-auto{
    margin-left: 136.422px !important;
}
#nav_btn{
    line-height: 20px;
    font-size: 20px;
    height: 39px;
    padding: 10px 20px 7px 20px;
}
#nav-item-contact{
    margin-right: 32px;
}
.nav-link {
    text-align: left;
    font: 20px "Hyundai Sans Head Office";
    color: #FFFFFF;
    opacity: 1;
    padding-left: 0!important;
    padding-right: 0!important;
}
.navbar-bg{
    height: 101px!important;

}
button.nav-link.text-center.bg-orange{
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #E95634;
    width: 115.27px;
}
button.nav-link:hover{
    background-color: white;
    color: #E95634;
}
.nav-link:hover{
    color: #FFFFFF;
}
.navbar .navbar-nav .nav-link:hover{
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-top{
    padding: 20px 40px;
}
nav{
    /*padding-left: 290px;
    padding-right: 290px;*/

}

li.nav-item
{
    height: 40px;
    padding: 0;
    margin-right: 40px;
}
.navbar-bg{
    /*opacity: 1;*/
    /*background-image: linear-gradient(black, transparent);*/
    /*background-image: linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0.7) 0%);*/
    /*background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(64, 64, 64, 0) 100%);*/
    /*background-color: black;*/

}
#nav-f-t{
    /*background-color: black;*/
    height: 101px;
    /*background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(64, 64, 64, 0) 100%);*/
    max-width: 1020px;
}
#nav-bg-top{
    height: 101px;
    position: fixed;
    /*background-color: black;*/
    background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(64, 64, 64, 0) 100%);
}
.bg-header{
    font-family: "Hyundai Sans Head Office-Bold";
    line-height: 60px;
}
.bg-container.container-fluid{
    padding: 0 441.5px;
    margin-top: 250px;
}
.bg-orange{
    background-color: #E95634;
}

h1{
    color: rgba(0,0,0,.9);
    font: normal normal 700 50px Hyundai Sans Head Office, sans-serif;
    line-height: 50px;
}
.bg-image-span{
    color: rgba(0,0,0,.9);
    font:normal normal 400 25px Hyundai Sans Head Office, sans-serif;
    margin-left: -3px;

}
.bg-bt{
    font: normal normal 400 30px Hyundai Sans Head Office, sans-serif;
    color:white;
    opacity: 1;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #E95634;
    width: 225.06px;
    height: 49px;
    line-height: 30px;
    padding: 10px 20px 7px 20px;
}
.bg-bt:hover{
    background-color: white;
    color: #E95634;
}
.h-row {
    margin-bottom: 16px;
}
.p-row{
    margin-bottom: 6px;
}
.cd-col{
    height: 42px;
    width: 63px;
}
.b-row{
}
.cd-img{
    height: 18px;
    width: 30px;
}
@media only screen and (max-width: 995px) {
    .img-cntr{
        margin: 0 auto;
    }
    .navbar-brand{
        margin-left: 0!important;
        margin-right: 0!important;
    }
}
/*@media only screen and (max-width: 1875px)
{
    .bg-container{
        bottom: 26px;
    }
}
@media only screen and (min-width: 1900px)
{
    .bg-container{
        bottom: 105px;
    }
}
 */
.navbar-brand{
    width: 240px;
    height: 37.74px;
    padding: 0;
}
.navbar-brand:hover{
    cursor: pointer;
}
#nav-center{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

}
.navbar-collapse{
    flex-grow: 0;
}
#navbarNav{
    padding-top: 14px;
}
#pbg-icon{
    width: 31.25px;
    height: 25px;
    font-size: 25px;
    color: rgb(233,86,52);
}
.elementor-icon-list-item{
    list-style: none;
}
section.a{
}
ul.elementor-icon-list-items {
    padding-left: 0;
}
.bg-image-bottom{
    height: 100px;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}
.bg-image-top{
    height: 100px;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
}
.background1{
    /*background: linear-gradient(to left bottom,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%);*/
    background: linear-gradient(182deg, transparent 0%, transparent 40%, white 41.1%, white 60%);
}
.background2{
    /*background: linear-gradient(to left top,rgb(29,29,27)50%,rgba(255,255,255,1) 50%);*/
    /*background: linear-gradient(178deg, white 0%, white 40%, rgb(29,29,27) 41.1%, rgb(29,29,27) 60%);*/
background: linear-gradient(178deg, #D7D7D7 0%, #D7D7D7 40%, rgb(29,29,27) 41.1%, rgb(29,29,27) 60%);
}
@media only screen  and (max-width: 1000px)
{
    .bg-container.container-fluid{
        padding: 0!important;
    }
    .bg-image{
        width: 100%;
    }

}
.b{
    background-color: transparent;
    background-image: linear-gradient(180deg,#FFFFFF 0%,#D7D7D7 100%);
}
.section-b{
    padding: 100px 40px 50px 40px;
    max-height: 715.4px;
}
.b-container{
    /*padding: 0 25px;*/
    max-width: 965px;
}
.hb{
    /*margin-bottom: 20px;*/
    margin-bottom: 19px;
}
.cb{
    margin-bottom: 40px;
}
.listb{
    margin-bottom: 20px;
}
.elementor-tab-title{
    padding: 15px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(157, 156, 149);
    border-bottom-style:solid;
}
.elementor-tab-title:active{
}
.elementor-tab-content{
    padding: 15px;
    border-bottom: 2px;
}
.b-ul{
    margin: 0px 30px 45px 22px;
    color: rgb(29,29,27);
    font-family: Hyundai Sans Head Office, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: 36px;
    padding-left: 0px;

}
.b-header{
    font-family: Hyundai Sans Head Office, sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}
.elementor-toggle-title{
    font-family: "Hyundai Sans Head Office-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    line-height: 30px;
}
.elementor-toggle-title:hover{
    color: #1D1D1B;
}
.elementor-toggle-icon-right{
    float: right;
    text-align: right;
}

.elementor-toggle{
    max-width: 620px;
    margin:0 auto;
}
a{
    text-decoration: none;
    color: #1D1D1B;
}
/*#chevron-down{
    color: rgb(157, 156, 149);
    font-family: Hyundai Sans Head Office, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}*/
.fas.fa-chevron-down.bf-cherdown{
    color: rgb(29,29,27);
    font-size: 50px;
    font-weight: 900;
}
.fa-chevron-down{
    color: rgb(157, 156, 149);
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.fa-chevron-up{
    color: rgb(157, 156, 149);
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}
.b-cherdown{
    height: 110.4px;
    margin-top: 71px;
    text-align: center;
}
.b-cherdown .fa-chevron-down{
    color:rgb(29,29,27);
    font-size: 50px;
    font-weight: 900;
}
.fa-chevron-down:hover{
    cursor: pointer;
}
.elementor-toggle-item:hover{
    cursor: pointer;
}
.title-active
{
    color: #E95634;
}
.chevron-rotate{
    transform: rotate(180deg);
    color: #E95634!important;
}
.b-section-height{
    max-height: fit-content;
}
.elementor-toggle-title{
    pointer-events: none;
}
.bg-container.container{
    padding-top: 250px;
    max-width: 965px;
}
@media(min-width: 1400px)
{
    /*.container{
        max-width: 961px;
    }*/
    .container{
        max-width: 965px;
    }
}
@media(max-width: 768px)
{
    .b-header{
        font-size: 25px;
        line-height: 32.5px;
        font-weight: 400;
    }
    .hb{
        margin-bottom: 0px;
    }
    .b-ul li{
        line-height: 24px;
    }
}
.elementor-tab-title:active{

}
.c-section{
    background-color: rgb(29,29,27);
    color: rgb(29,29,27);
    font-family: Hyundai Sans Head Office, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    position: relative;
    padding-top: 200px;
}
.c-container{
    max-height: 626.97px;
}
.b{
    position: relative;
}
/*
.fa-solid{
    font-size: 50px !important;
    color: rgba(238, 238, 238, 0.9) !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}*/
/*.carousel-control-next-icon{
    font-size: 50px !important;
    color: rgba(238, 238, 238, 0.9) !important;
    font-weight: 900;
}*/
.carousel-control-next{
    right:-110px;
}
.carousel-control-prev{
    left: -110px;
}
.fa-chevron-right{
    font-size: 50px;
    font-weight: 900;
    color: rgba(238, 238, 238, 0.9);
}
.fa-chevron-left{
    font-size: 50px;
    font-weight: 900;
    color: rgba(238, 238, 238, 0.9);
}

@media(max-width: 1200px)
{
    .carousel-control-next{
        right: 0;
    }
    .carousel-control-prev{
        left: 0;
    }
}
.d-whole{
    padding: 0 40px;
}
.d-container-larger{
    padding-right: 40px;
    padding-top: 50px;
}
.d-header{
    padding-top: 200px;
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    font-family: Hyundai Sans Head Office, sans-serif;
}
.d-section{
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.d-whole{
    background-color:rgb(29, 29, 27);
    color: rgb(255, 255, 255);
    font-family: Segoe UI;
}
.d-section-content p{
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 42.855px;
    font-family: Hyundai Sans Head Office, sans-serif;
}
.d-container-smaller{
    max-width: 620px;
}
.btn.btn-white{
    background-color:rgb(255, 255, 255);
    border-color:rgb(233, 86, 52);
    border-width: 1px;
    border-radius: 50px;
    border-style: solid;
    font-family: Hyundai Sans Head Office, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: rgb(233,86,52);
    text-align: center;
    padding: 1px 50px;
}
#d-btn{
    background-color: rgb(233, 86, 52);
    padding: 1px 50px;
    width: auto;
    line-height: 45px;
}
#d-btn:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(233,86,52);
}
.btn-white:hover{
    background-color: rgb(233, 86, 52);
    color: #FFFFFF;
}
@media(max-width: 991px) {
.btn-white{
    margin-bottom: 25px;
    inline-size: fit-content;
    align-items: center;
}
    #d-btn{
        margin-bottom: 25px;
        inline-size: fit-content;
        align-items: center;
    }
    .buttons-container{
        align-items: center;
    }
}
@media(max-width: 470px) {
    #d-btn{
        height: fit-content;
    }
}
.svg-containter{
    background-image: url("Screenshot_3.png");
    height: 405px;
    background-size: contain;
    background-repeat: no-repeat;
}
.table-container{
    margin-bottom: 60px;
    border: 0;
}
.tc-2{
    border: 0;
}
.orange-btn{
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #E95634;
    line-height: 30px;
    opacity: 0.95;
    padding: 3px 20px 3px 20px;
    background: #E95634;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Hyundai Sans Head Office-Regular;
    min-width: 115.27px;
}

.black-btn{
    background-color:rgb(29, 29, 27);
}
.t-h{
    font-size: 20px;
    font-family: Hyundai Sans Head Office-Bold;
    min-inline-size: fit-content;

}
.tcol2{
    font-size: 16px;
    white-space: nowrap;
}
.tcol3{
    font-size: 16px;
}
.trow{
    line-height: 30px;
    padding: 15px 0;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 2px;
}
/*.table-container{
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}*/
h3{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    margin-bottom: 30px!important;
    font-family: "Segoe UI";
    padding-left: 0;
}
@media(max-width: 768px)
{
    .tcol2{
        text-align: center;
    }
    .tcol3{
        text-align: end;
        padding-right: 0;
    }
    .tcol4{
        text-align: start;
        padding-left: 0;
    }
    .tbtn{
        margin-top: 8px;
    }
}
.tcol4{
    padding-left: 0;
    padding-right: 8px;
}
.tcol5{
    padding-left: 0;
}
.tcol6{
    padding-left: 0;
}
.tcol3{
    padding-left: 15px;
}
.tc-2{
    margin-bottom: 20px;
}

.b-cherdown .fa-chevron-down{
    color:rgb(233, 86, 52);
    font-size: 50px;
    font-weight: 900;
}
.e-container-larger{
    height: 810px;
    display: flex;
    padding: 0;
    overflow: auto;
}
.e-container-smaller{
    height: 810px;
    max-width: 607.64px;
}  .e-left{
    flex: 0 0 55.348%;
    height: 810px;
    text-align: left;
}
.e-right{
    height: 810px;
    flex: 1;
}
.e-section{
    background-color: rgb(64, 64, 64);
    height: 810px;
}
.e-header{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    margin-bottom: 20px;
    color:white;
    font-family: Hyundai Sans Head Office;
    white-space: nowrap;
    padding-top: 200px;
}
.e-paragraph{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.855px;
    margin-bottom: 30px;
    color:white;
    font-family: Hyundai Sans Head Office;
}
.e-container{
    display:inline-flex;
    flex-wrap:wrap;
    width: 100%;
}
.flex-direction{
    flex-direction:row;
}
.div1{
    width:55.348%;
    position: relative;
    height: 810px;
    /*max-width: 305px;*/
}

.div2{
    width: 44.652%;
    position: relative;
    height: 810px;
}

/*span{
    font-size:16px;
    font-weight:bold;
    display: block;
    line-height: 132px;
    text-align: center;
}*/
iframe{
    width: 100%;
}
@media screen and (max-width: 768px) {
    .flex-direction{
        flex-direction:column;
    }
    .div1{
        width:100%;
        height: 405px;
        max-width: 413px;
    }
    .div2{
        width:100%;
        height: 405px;
    }
    .e-header{
        font-size: 25px;
        line-height: 32.5px;
        padding-top: 50px;
    }
    .e-paragraph{
        font-size: 20px;
        line-height: 28.57px;
    }
    .e-header br{
        display: none;
    }
    /*.div2 span{
        line-height:107px;
    }*/
   iframe{
        height: 405px;
    }
   .e-background1{
       /*background: linear-gradient(to left top,rgb(0,0,0,0)50%,rgba(29,29,27) 50%);*/
       z-index: 1;
       height: 50px;
   }
   .e-bcg{
       height: 25px;
       background: linear-gradient(178deg, transparent 0%, transparent 40%, white 41.1%, white 60%);
   }
}
@media screen and (max-width: 1007px) {
    .e-header{
        white-space: normal;
    }
}
@media screen and (max-width: 876px) {
    .e-header br{
        display: none;
    }
}
@media screen and (max-width: 1026px) {
    /*.e-paragraph{
     font-size: 25px;
        line-height: 35.7125px;
    }*/
    /*.e-header{
        font-size: 50px;
        line-height: 65px;
    }*/
}

.e-section{
    position: relative;
}
.e-background1{
    background: linear-gradient(-2deg, transparent 0%, transparent 40%, rgb(29,29,27) 41.1%, rgb(29,29,27) 60%);
    z-index: 1;
}
.f-section{
    /*height: 1118.42px;*/
    padding: 40px;
}
.f-header{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    color:rgb(29,29,27);
    font-family: Hyundai Sans Head Office;
}
.f-c-lg{
    margin-bottom: 20px;

}
.card{
    border:0;
}
.card-text1{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.855px;
    margin-bottom: 30px;
    color:rgb(29,29,27);
    font-family: Hyundai Sans Head Office;
}
.c-b1{
    padding-left: 0;
}
.input-group{

}
.form-control{
    font-size: 30px;
    font-family: 'Hyundai Sans Head Office';
    min-height: 40px;
    font-weight: 400;
    text-align: start;
    border: 0;
    border-bottom-width: 2px;
    border-color: rgb(151,151,151);
    border-style: solid;
    border-radius: 0;
    color:rgb(29,29,27);
}
input{
    /*font-size: 30px;
    font-family: 'Hyundai Sans Head Office';
    min-height: 40px;
    font-weight: 400;
    color: rgb(151,151,151);*/
}
input{
    color: rgb(151,151,151);
}
.form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(151,151,151);
    border-width: 1px 1px 2px 1px;

}
.btn-drop{
    background: none;
    border: none;
    text-align: left;
    padding: 0;
    color: rgb(151,151,151);
}
.dropdown-toggle::after {
    display: none;
}
.dwn-icon{
    position: absolute;
    opacity: 0.8;
    font-size: 25.7143px;
    width: 69.625px;
    right: -20px!important;
    line-height: 31.2245px!important;
}
.b-g-down{
    padding-right: 0;
}
.btn:hover{
    border: none;
}
.dropdown-menu{
    max-width: 410.5px;
}
.dropdown-item{
    font-size: 30px;
    font-weight: 400;
    padding: 0 2px 1px 2px;
    font-family: "Hyundai Sans Head Office";
    padding-left: 34.286px;
}
.form-textarea{
    height: 309px;
    color: #1D1D1B;
    font-size: 30px;
    font-family: "Hyundai Sans Head Office";
    line-height: 42px;
    padding: 5px 14px 5px 14px;
}
.g-recaptcha{
    float: right;
}
/*.btn-absenden{
    float: right;
    margin-top: 30px;
}*/
.footer-section{
   /* height: 486px;*/
    background-color: #1D1D1B;
}
.g-section{
    position: relative;
    padding: 150px 40px 0 40px;
    margin-bottom: 30px;
}
.g-background{
    background: linear-gradient(182deg, white 0%, white 40%, rgb(29,29,27) 41.1%, rgb(29,29,27) 60%);
}
.g-l-c {
    /*color: white;*/
}
.g-section a{
    /*color: white;*/
}
address{
    font-size: 20px;
    font-family: "Hyundai Sans Head Office";
    line-height: 36px;
    margin-bottom: 30px;
    font-weight: 400;
    color: white;
}
.address-link{
    color: rgb(233, 86, 52);
}
.address-link:hover{
    color: rgb(233, 86, 52);
}
.g-ul{
    list-style: none;
    margin-bottom: 30px;
    line-height: 29px;
}
.g-li a{
    color: white;
    font-size: 20px;
    font-family: "Hyundai Sans Head Office";
    line-height: 20px;
    font-weight: 400;
    padding: 5px 0;
}
.imp-link{
    color: white;
    font-size: 20px;
    font-family: "Hyundai Sans Head Office";
    line-height: 28px;
    font-weight: 400;
    padding: 5px 0;
}
.imp-link:hover{
    text-decoration: none;
    color: white;
}
.g-span{
    font-family: "Hyundai Sans Head Office";
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: white;
}
.h-d{
    padding-top: 0;
}
.h-section{
    height: 86px;
}
.modal-header{
    color: #1D1D1B;
    font-size: 50px;
    line-height: 50px;
    /*padding: 0 5px;*/
    margin-bottom: 20px;
    border: 0;
    font-family: "Hyundai Sans Head Office";
    padding: 0;
}
.modal-title{
    color: #1D1D1B;
    font-size: 50px;
    line-height: 50px;
    font-family: "Hyundai Sans Head Office";
}
.image-modal{
    height: 513.86px;
    margin-bottom: 20px;
    background-image: url("wincasa-workspace-buchs-Eingangsbereich-1024x683.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.modal-dialog{
    max-width: 930.4px;
}
.mod-head{
    padding: 0;
}
.modal-content{
    padding: 80px;
    border-radius: 0;
}
.modal-container{
    color: #1D1D1B;
    font-family: "Hyundai Sans Head Office";
    font-size: 30px;
    line-height: 45px;
}
.modal-ul{
    margin-left: 90px;
    margin-bottom: 45px;
    padding: 0;
}
.modal-body{
    padding: 0;
}
.modal-row-a{
    color: #1D1D1B;
    font-family: "Hyundai Sans Head Office";
    font-size: 30px;
    line-height: 45px;
}
.modal-footer1{
    padding: 0;
    border: 0;
    margin-top: 50px;
}
.modal-button{
    padding: 10px 10px 7px 10px;
    border-width: 1px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    width: 160px;
    height: 39px;
}
.modal-button-white{
    background-color:rgb(255, 255, 255);
    color: rgb(233,86,52);
}
.modal-button-white:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(233,86,52);
}
.btn-close1{
    font-size: 50px!important;
    line-height: 50px!important;
    height: 50px;
    width: 50px;
    color: rgb(233, 86, 52);
}
.modal-header button{
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    margin-right: 35px;
}
::placeholder {
    font-size: 30px!important;
    font-family: 'Hyundai Sans Head Office'!important;
    min-height: 40px!important;
    font-weight: 400!important;
    color: rgb(151,151,151)!important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 30px!important;
    font-family: 'Hyundai Sans Head Office'!important;
    min-height: 40px!important;
    font-weight: 400!important;
    color: rgb(151,151,151)!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 30px!important;
    font-family: 'Hyundai Sans Head Office'!important;
    min-height: 40px!important;
    font-weight: 400!important;
    color: rgb(151,151,151)!important;
}
.anfrage-row{
    margin-top:80px;
    margin-bottom: 20px;
}
.anfrage-link{
    color: #E95634;
}

#btn_form:hover{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form:active{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form:focus{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form:checked{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form2:hover{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form2:active{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form2:focus{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
#btn_form2:checked{
    background: white;
    color: rgb(151,151,151);
    box-shadow: none;
    outline: none;
    border: none;
}
.anfrage-link:hover{
    color: #E95634;
}
@media(max-width: 576px){

    .bg-image {
        background-image: url('winc-web-hero-mobile-576.jpg');
    }

}
@media(max-width: 768px){
    .btn-eintreten{
        font-size: 20px;
        width: 144px;
        height: 40px;
        line-height: 20px;
    }
    .bg-header{
        font-size: 30px;
        line-height: 36px;
    }
    .bg-image-span {
        font-size: 20px;
        line-height: 24px;
    }
    #pbg-icon{
        line-height: 24px;
        font-size: 20px;
    }
    .bg-container{
        padding-top: 120px!important;
    }
    .bg-image{
        height: 784px;

    }
    .elementor-toggle-title{
        font-size: 20px;
        line-height: 20px;
    }
    .b .fa-chevron-down{
        font-size: 20px;
    }
    .elementor-tab-title{
        padding: 12px 0;
    }
    .b-ul{
        font-size: 20px;
        margin-left: 0;
    }
    .fa-chevron-right{
        font-size: 30px;
    }
    .fa-chevron-left{
        font-size: 30px;
    }
    .d-header{
        padding-top: 25px;
        font-size: 25px;
        line-height: 32.5px;
        margin-bottom: 40px;
    }
    .d-section-content p{
        font-size: 20px;
        line-height: 28.57px;
    }
    #modal_button{
        font-size: 20px;
        width: 135.266px;
        padding: 0;
        height: 37px;
        line-height: 36px;
    }
    #d-btn{
        font-size: 20px;
        width: 243px;
        padding: 0;
        height: 37px;
        line-height: 36px;
    }
    .t-h{
        font-size: 15px;
    }
    .e-row{
        padding-top: 40px;
    }
    .f-header{
        font-size: 25px;
    }
    .card-text1{
        font-size: 20px;
        line-height: 28.57px;
    }
    ::placeholder {
        font-size: 20px!important;
        line-height: 28px!important;
    }
    .f-c-lg{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    #btn_form{
        font-size: 20px;
        white-space: normal;
    }
    .dwn-icon{
        font-size: 17px;
        right: -40px!important;
    }
    .g-recaptcha div{
        max-width: 260px!important;
    }
    .btn-absenden{
        line-height: 20px;
        font-size: 20px;
        height: 38px;
        width: 153px;
    }
    .g-li a{
        font-size: 12px;
        line-height: 20px;
    }
    .imp-link{
        font-size: 12px;
        line-height: 20px;
    }
    .g-span{
        font-size: 12px;
        line-height: 20px;
    }
    .g-l-c{
        padding-right: 0;
    }
    .g-section{
        margin-bottom: 133px;
    }
    .h-section{
        padding-left: 40px;
    }
    .bg-image-top{
        height: 50px;
    }
    .bg-image-bottom{
        height: 50px;
    }
    .modal-ul li{
        font-size: 20px;
        line-height: 30px;
    }
    .modal-title{
        font-size: 30px;
        line-height: 30px;
    }
    .modal-row-a{
        font-size: 20px;
        line-height: 30px;
    }
    #modal_button1{
        text-align: end!important;
    }
    #modal_button2{
        text-align: center!important;
        padding-right: 0!important;
    }
    .modal-button-white{
        margin-top: 20px;
    }
    #d-head{
        font-size: 20px;
        line-height: 28px;
    }
    .tcol5{
        text-align: left;
    }
    .modal-header button{
        margin: 0;
    }
    .mod-head{
        max-width: 746px;
    }
    .modal-content{
        padding: 10px;
        padding-bottom: 175px;
    }
    .modal-par{
        font-size: 20px;
        line-height: 28.57px;
    }
    #btn_form2{
        font-size: 20px;
    }
    .form-control{
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 1025px){
    .bg-image {
        background-image: url('winc-web-hero-tablet-1025.jpg');
    }
    .navbar-brand{
        content: url('WB-Icon-Inv.svg');
        width: 85px;
        height: 42px;
    }
    .img-cntr{
        margin-left: 50px;
    }
}
.absenden-row{
    margin-top: 120px;
}
.black-btn:hover{
    background: white;
    color: #E95634;
}
.orange-btn:hover{
    background: white;
    color: #E95634;
}
.d-section .row:hover{
    background: rgb(151,151,151);
}
.fa-bars{
    font-size: 25px;
    color: white;
}
.navbar-toggler-icon{
    background-image: none;
}
.navbar-dark{
    border: 0;
}
.e-bcg{
    background: linear-gradient(182deg, transparent 0%, transparent 40%, white 41.1%, white 60%);
}
@media(min-width: 702px) and (max-width: 768px){
    #d-head{
        padding-left: 27px;
    }
}
.div2 iframe{
    -webkit-filter: grayscale(100%)!important;
}